.fondo{
    background: url('/src/assets/images/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.prefooter{
    background: url('/src/assets/images/pre-footer.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}